<div>
    <mat-card id="risk" class="primary-card">
        <mat-card-header>
            <mat-card-title>Risk Analysis</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-spinner *ngIf="loading"></mat-spinner>
            <mat-card id="rating" *ngIf="!loading">
                <mat-card-header>
                    <mat-card-title>{{rating}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Simple</p>
                    <p>Should be better than A</p>
                </mat-card-content>
            </mat-card>
            <mat-card id="ratingVar" *ngIf="!loading">
                <mat-card-header>
                    <mat-card-title>{{ratingVar}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>With Variance</p>
                    <p>Should be better than AA</p>
                </mat-card-content>
            </mat-card>
            <!--
            <div class="results">
                <p><strong>Default</strong></p>
                <p>{{default}} %</p>
            </div>
            <div class="results">
                <p><strong>Recovery</strong></p>
                <p>{{recovery}} %</p>
            </div>

            <div class="results">
                <p><strong>Repaid</strong></p>
                <p>{{repaid}} %</p>
            </div>-->
            <br>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button class="btn" color="primary" routerLink='/risk'>BACK</button>
        </mat-card-actions>
    </mat-card>

</div>